@use "all-vars" as vars;

main{
	min-height: 80vh;
}

.container{
	position: relative;
	width: 100%;
	max-width: vars.$site-width-margins;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
	&--vertical-fill{
		height:100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.container____extended{
	width: 100%;
	max-width: vars.$extended-width;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
}

.container____toEdges{
	width: 100%;
	margin: 0 auto;
}

.container____toEdgesMobile{
	position: relative;
	width: 100%;
	margin: 0 auto;
	@include vars.break(tablet){
		max-width: vars.$site-width-margins;
		padding-left: vars.$gutter-padding;
		padding-right: vars.$gutter-padding;
	}
}

.content-container{
	width: 100%;
	max-width: vars.$content-width;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
}

.inner-2col{
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet){
		gap: vars.$column-gap;
		flex-direction: row;
	}
	.col-1{
		flex: 2;
	}
	.col-2{
		flex: 5;
	}
}

.inner-2col--50-50{
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet){
		gap: vars.$column-gap;
		flex-direction: row;
		min-width: 30rem;
	}
	.col-1{
		flex: 1;
	}
	.col-2{
		flex: 1;
	}
}

@mixin articleImagesDefaults{
	display: flex;
	gap: 2vw;
	justify-content: center;
	align-items: flex-start;
}

.article-images{
	&--2{
		@include articleImagesDefaults;
	}
	&--4{
		@include articleImagesDefaults;
		@include vars.break(tablet){
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width: 90vw;
			height: auto;
			max-width: 1200px;
			position: relative;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&--unlimited{
		width: 100vw;
		height: auto;
		position: relative;
		left: 50%;
		transform: translate(-50%);
		overflow-x: scroll;
		overflow-x: auto;
		cursor: grab;
		scroll-behavior: smooth;              /* optional */
		-webkit-overflow-scrolling: touch;    /* iOS momentum */
		scroll-snap-type: x mandatory;
		&:active {
			cursor: grabbing;
		}
		.inner{
			@include articleImagesDefaults;
			max-width: unset;
			width: auto;
		}
		figure{
			max-width: 260px;
			flex-shrink: 0;
		}
	}
	&.extended{
		@include vars.break(tablet){
			width: 90vw;
			height: auto;
			max-width: 1200px;
			position: relative;
			left: 50%;
			transform: translate(-50%);
		}
	}
}