@use "all-vars" as vars;

main{
	min-height: 80vh;
}

.container{
	position: relative;
	width: 100%;
	max-width: vars.$site-width-margins;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
	&--vertical-fill{
		height:100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.container____extended{
	width: 100%;
	max-width: vars.$extended-width;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
}

.container____toEdges{
	width: 100%;
	margin: 0 auto;
}

.container____toEdgesMobile{
	position: relative;
	width: 100%;
	margin: 0 auto;
	@include vars.break(tablet){
		max-width: vars.$site-width-margins;
		padding-left: vars.$gutter-padding;
		padding-right: vars.$gutter-padding;
	}
}

.content-container{
	width: 100%;
	max-width: vars.$content-width;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
}

.inner-2col{
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet){
		gap: vars.$column-gap;
		flex-direction: row;
	}
	.col-1{
		flex: 2;
	}
	.col-2{
		flex: 5;
	}
}

.inner-2col--50-50{
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet){
		gap: vars.$column-gap;
		flex-direction: row;
		min-width: 30rem;
	}
	.col-1{
		flex: 1;
	}
	.col-2{
		flex: 1;
	}
}

.article-images{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: vars.$column-gap;
	@include vars.break(tablet){
		flex-wrap: nowrap;
		gap: 2vw;
	}
	> figure, > img{
		min-width: 0;
	}
	&.extended{
		@include vars.break(tablet){
			width: 90vw;
			height: auto;
			max-width: 1200px;
			position: relative;
			left: 50%;
			transform: translate(-50%);
		}
	}
}