@use "all-vars.scss" as vars;

.text-std{
	@include vars.text-std;
}
.text-link{
	@include vars.text-link;
}
.text-body{
	@include vars.text-body;
}
.text-intro{
	@include vars.text-intro;
}
.text-medium{
	@include vars.text-medium;
}
.text-heading{
	@include vars.text-heading;
}
.text-display{
	@include vars.text-display;
}
.text-blocky{
	@include vars.text-blocky;
}
.text-miniscule{
	@include vars.text-miniscule;
}

p.outset-text{
	line-height: 1.4;
	color: var(--color-accent-alt);
	border-left: 2px solid var(--color-accent-alt);
	padding-left: 2rem;
	position: relative;
	@include vars.break(tablet){
		left: -2rem;
	}
}

h2, h3, h4, h5, h6{
	&:not([class]){
		@include vars.text-heading;
	}
}
h2, h3, h4, h5, h6, p, ul, ol{
	&:not([class]){
		margin-bottom: vars.$block-spacing--tiny;
	}
	> *:last-child {
		margin-bottom: 0!important;
	}
}
p, li{
	&:not([class]){
		max-width: vars.$content-width;
		@include vars.text-body;
	}
}
strong, b{
	&:not([class]){
		font-weight: 550;
		:global(body.light-mode) &{
			font-weight: 600;
		}
		@media print{
			font-weight: 600;
		}
	}
}
li{
	&:not([class]){
		margin-bottom: .6rem;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
p, li{
	&:not([class]){
		width: 100%;
		max-width: vars.$content-width;
		@media print{
			max-width: 100rem;
		}
	}
}