@use "all-vars" as vars;

.text-std{
	@include vars.text-std;
}
.text-link{
	@include vars.text-link;
}
.text-body{
	@include vars.text-std;
}
.text-intro{
	@include vars.text-intro;
}
.text-medium{
	@include vars.text-medium;
}
.text-heading{
	@include vars.text-heading;
}
.text-display{
	@include vars.text-display;
}
.text-blocky{
	@include vars.text-blocky;
}
.text-miniscule{
	@include vars.text-miniscule;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: var(--color-bg-off-solid);
	color: var(--color-foreground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include vars.text-std-defaults;
}

p.outset-text{
	line-height: 1.4;
	color: var(--color-accent-alt);
	border-left: 2px solid var(--color-accent-alt);
	padding-left: 2rem;
	position: relative;
	@include vars.break(tablet){
		left: -2rem;
	}
}

h2, h3, h4, h5, h6{
	&:not([class]){
		@include vars.text-heading--chunky;
		color: var(--color-accent-alt);
	}
}
h3, h4, h5, h6{
	&:not([class]){
		font-size: vars.$font-size-heading-small;
	}
}

h2, h3, h4, h5, h6, p, ul, ol, blockquote, img{
	&:not([class]){
		margin-bottom: vars.$block-spacing--text;
	}
	> *:last-child {
		margin-bottom: 0!important;
	}
	@include vars.break-under(tablet){
		overflow-wrap: break-word;
	}
}
p, li, blockquote{
	&:not([class]){
		max-width: vars.$content-width;
		@include vars.text-std;
		@media print{
			max-width: 100rem;
		}
	}
}
li{
	&:not([class]){
		margin-bottom: .6rem;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
blockquote{
	&:not([class]){
		border-left: 1px solid var(--color-accent-alt);
		padding-left: 1em;
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		@include vars.break(tablet){
			left: -1em;
		}
	}
}
img + em{
	padding-top: 1em;
	@include vars.text-tiny;
	display: block;
}
pre {
	white-space: pre-wrap;
	word-break: break-word;
	overflow-x: auto;
	max-width: unset;
	padding: 1em 1.2em;
	background-color: var(--color-bg-solid);
	font-family: vars.$font-mono;
}

code{
	font-family: vars.$font-mono!important;
	background-color: var(--color-bg-solid);
	font-size: .8em;
}
