@use "all-vars.scss" as vars;

.text-std{
	@include vars.text-std;
}
.text-link{
	@include vars.text-link;
}
.text-body{
	@include vars.text-body;
}
.text-intro{
	@include vars.text-intro;
}
.text-medium{
	@include vars.text-medium;
}
.text-heading{
	@include vars.text-heading;
}
.text-display{
	@include vars.text-display;
}
.text-blocky{
	@include vars.text-blocky;
}
.text-miniscule{
	@include vars.text-miniscule;
}

p.outset-text{
	line-height: 1.4;
	color: var(--color-accent-alt);
	border-left: 2px solid var(--color-accent-alt);
	padding-left: 2rem;
	position: relative;
	@include vars.break(tablet){
		left: -2rem;
	}
}