@use "sass:map";
@use '../project-styles/project-specific' as project;

/* Useful helpers -------------------------------------- */

@mixin light-mode-wrapper {
	body.light-mode &{
		@content;
	}
	@media print{
		@content;
	}
}

/* Colours ------------------------------------------------- */


@mixin svgColor($color: var(--color-foreground)){
	path, clipPath, rect, circle{
		fill: $color;
		color: $color;
	}
	text{
		color: $color;
	}
}

/* Variables ------------------------------------------------- */

$border-radius: 4px;
$gutter-padding: 4vw;
$block-spacing--shallow--static: 2rem;
$block-spacing--tiny: clamp(1rem, 3vw, 3rem);
$block-spacing--shallow: clamp(2rem, 4vw, 4.5rem);
$block-spacing: clamp(3.5rem, 6vw, 6.5rem);
$block-spacing--deep: clamp(8rem, 12vw, 14rem);
$block-spacing--text: clamp(1rem, 3vw, 3rem);
$column-gap: clamp(2rem, 5vw, 5rem);
$site-width: project.$site-width;
$site-width-margins: calc(($site-width + $gutter-padding) + $gutter-padding);
$content-width: project.$content-width;
$extended-width: project.$extended-width;
$outline-focus: 2px solid var(--color-focus);


/* Breakpoints ------------------------------------------------- */

$breakpoints: (
    mobile: 359px,
    mobile-land: 512px,
    tablet: 641px,
    desktop: 800px,
    desktop-mini: 880px,
    desktop-med: 1025px,
    mobile-nav: 1090px,
    desktop-wide: 1200px,
    desktop-wider: 1340px,
    desktop-xl: 1408px,
	site-width-margins: $site-width-margins,
	site-width: $site-width
);
$breakpoints--h: (
    letterbox: 900px
);

// breakpoint mixins
@mixin break($breakpoint: medium) {
	@if map.has-key($breakpoints, $breakpoint) {
		@media screen and (min-width: map.get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}

@mixin break-under($breakpoint: medium) {
	@if map.has-key($breakpoints, $breakpoint) {
	  @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
		  @content;
	  }
	}
}

@mixin break-between($breakpoint-lower, $breakpoint-higher){
	@media screen and (min-width: map.get($breakpoints, $breakpoint-lower)) and (max-width: map.get($breakpoints, $breakpoint-higher)) {
		@content;
	}
}

// height 
@mixin break--h($breakpoint) {
	@if map.has-key($breakpoints--h, $breakpoint) {
		@media screen and (max-height: map.get($breakpoints--h, $breakpoint)) and (orientation: landscape) {
			@content;
		}
	}
}



/* Typography ------------------------------------------------- */

// largest size / percentage reduction to get smallest size / responsive size
@function responsiveSize($initial, $pcreduction, $vw) {
	$min: calc(#{$initial}rem * (#{100 - $pcreduction} / 100));
	$max: #{$initial}rem;
	$flex: #{$vw}vw;
	@return clamp(#{$min}, #{$flex}, #{$max});
}

// For display only
$font-size-display: responsiveSize(11, 40, 11);
$font-size-display-medium: responsiveSize(8, 40, 8);
$font-size-display-small: responsiveSize(4, 35, 4);

// For headings only
$font-size-heading: responsiveSize(2.8, 5, 2.8);

// For larger headings
$font-size-heading-large: responsiveSize(3.8, 10, 3.8);

// For small headings
$font-size-heading-small: responsiveSize(2.2, 5, 2.2);

// For general use
$font-size-medium: responsiveSize(3.2, 30, 3.2);

// Default font size
$font-size-std: responsiveSize(1.8, 15, 1.8);

// For body standouts
$font-size-body-intro: responsiveSize(2.6, 5, 2.6);

// For blocky text, taglines and other reasons
$font-size-blocky: responsiveSize(1.8, 8, 1.8);

// For tiny text
$font-size-tiny: 1.4rem;

// For exceptional reasons
$font-size-miniscule: 1.25rem;

// Fonts
$font-editorial: "degular-variable", sans-serif;
$font-body: "degular-variable", sans-serif;
$font-std: "degular-variable", sans-serif;
$font-display: "degular-variable", sans-serif;
$font-blocky: "degular-variable", sans-serif;
$font-mono: "degular-mono", sans-serif;

// misc

$opsz-regular: 10;

// Type mixins

@mixin loose-text-mobile {
	@include break-under(tablet){
		letter-spacing: .03em;
	}
}

@mixin text-display {
	font-family: $font-display;
	font-size: $font-size-display;
	font-style: normal;
	line-height: .8;
	font-weight: 760;
	font-variation-settings: 'opsz' 72;
	@include light-mode-wrapper{
		font-weight: 780;
	}
}

@mixin text-display-medium {
	font-family: $font-display;
	font-size: $font-size-display-medium;
	font-style: normal;
	line-height: 1;
	font-weight: 760;
	font-variation-settings: 'opsz' 72;
	@include light-mode-wrapper{
		font-weight: 780;
	}
}

@mixin text-display-small {
	font-family: $font-display;
	font-size: $font-size-display-small;
	font-style: normal;
	line-height: 1.1;
	font-variation-settings: 'opsz' 40;
	font-weight: 500;
	@include light-mode-wrapper{
		font-weight: 600;
	}
	@media print{
		font-size: 3rem;
		font-weight: 600;
	}
}

@mixin text-std-defaults {
	font-feature-settings:"kern" on,"liga" on;
	font-variation-settings: 'opsz' $opsz-regular;
	line-height: 1.4;
	font-family: $font-std;
	font-size: $font-size-std;
	font-weight: 320;
	@include light-mode-wrapper{
		font-weight: 440;
	}
	strong, b{
		font-weight: 650;
		@include light-mode-wrapper{
			font-weight: 660;
		}
	}
	em, i{
		font-style: unset;
		font-variation-settings: 'opsz' $opsz-regular, "ital" 1;
	}
}

@mixin text-std {
	@include text-std-defaults;
}

@mixin text-editorial {
	:is(p, ul, ol, li, blockquote) {
		font-family: $font-editorial;
		line-height: 1.6;
	}
	ul{
		li{
			@include ul-list-item;
		}
	}
	ol{
		li{
			@include ol-list-item;
		}
	}
}

@mixin text-link-defaults {
	color: var(--color-accent);
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: .05em;
	font-style: normal;
	font-weight: 500;
	&:hover{
		text-decoration: none;
		color: var(--color-foreground);
	}
	@include light-mode-wrapper{
		text-underline-offset: .15em;
		text-decoration-thickness: .08em;
	}
}

@mixin text-link {
	font-family: $font-body;
	@include text-link-defaults;
	font-weight: 600;
	@include light-mode-wrapper{
		font-weight: 700;
	}
}

@mixin standalone-link {
	@include text-link;
	font-size: $font-size-std;
	font-family: $font-std;
	color: var(--color-accent);
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: .05em;
	font-style: normal;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 650;
		text-underline-offset: .15em;
		text-decoration-thickness: .08em;
	}
	&:hover{
		text-decoration: none;
	}
}

@mixin standalone-link-inactive {
	font-family: $font-std;
	color: var(--color-foreground);
	font-style: normal;
	font-weight: 600;
	@include light-mode-wrapper{
		font-weight: 700;
	}
	@media print{
		font-weight: 700;
	}
}

@mixin text-heading-defaults {
	@include text-std-defaults;
	line-height:1.1;
}

@mixin text-heading {
	@include text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 20;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 600;
	}
}

@mixin text-heading--chunky {
	@include text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 20;
	font-weight: 660;
	@include light-mode-wrapper{
		font-weight: 730;
	}
}

@mixin text-heading--large {
	@include text-heading-defaults;
	font-size: $font-size-heading-large;
	font-variation-settings: 'opsz' 20;
	font-weight: 660;
	@include light-mode-wrapper{
		font-weight: 730;
	}
}

@mixin text-heading--thin {
	@include text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 28;
	font-weight: 350;
	@include light-mode-wrapper{
		font-weight: 450;
	}
}

@mixin text-heading-small {
	@include text-heading-defaults;
	font-size: $font-size-heading-small;
	font-variation-settings: 'opsz' 16;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 600;
	}
}

@mixin text-intro {
	font-family: $font-std;
	font-size: $font-size-body-intro;
	line-height: 1.2;
	font-variation-settings: 'opsz' 26;
	font-weight: 650;
	@include light-mode-wrapper{
		font-weight: 750;
	}
}

@mixin text-medium {
	font-family: $font-std;
	font-size: $font-size-medium;
	font-style: normal;
	line-height: 1.6;
	font-variation-settings: 'opsz' 32;
	font-weight: 450;
	@include light-mode-wrapper{
		font-weight: 550;
	}
}

@mixin text-blocky {
	font-family: $font-blocky;
	font-style: normal;
	text-transform: uppercase;
	font-size: $font-size-blocky;
	letter-spacing: .03em;
	font-weight: 550;
	font-variation-settings: 'opsz' 16;
	@include light-mode-wrapper{
		font-weight: 650;
		letter-spacing: .06em;
	}
}

@mixin text-blocky-tiny {
	font-family: $font-blocky;
	font-style: normal;
	text-transform: uppercase;
	font-size: $font-size-tiny;
	letter-spacing: .03em;
	font-weight: 550;
	font-variation-settings: 'opsz' 16;
	@include light-mode-wrapper{
		font-weight: 650;
		letter-spacing: .06em;
	}
}



@mixin text-tiny {
	font-size: $font-size-tiny;
	font-family: $font-std;
	letter-spacing: .02em;
	font-weight: 400;
	font-variation-settings: 'opsz' $opsz-regular;
	line-height: 1.2;
	@include light-mode-wrapper{
		font-weight: 500;
	}
	strong, b{
		font-weight: 500;
		@include light-mode-wrapper{
			font-weight: 600;
		}
	}
}

@mixin text-miniscule {
	font-family: $font-std;
	font-size: $font-size-miniscule;
	line-height: 1.4;
	font-variation-settings: 'opsz' $opsz-regular;
	font-weight: 400;
	@include light-mode-wrapper{
		font-weight: 500;
	}
	strong, b{
		font-weight: 500;
		@include light-mode-wrapper{
			font-weight: 600;
		}
	}
}


/* Misc ------------------------------------------------- */

@mixin ridged-line{
    height: 2px;
	background-color: var(--color-ridged-line-shadow);
    border-bottom: 1px solid var(--color-ridged-line-light);
}

@mixin ul-list-item {
	list-style-type: none;
    max-width: $content-width;
    margin-bottom: 0 !important;
    padding-bottom: 0.3em;
    list-style: none;
	position: relative;
	@include break-under(tablet){
		padding-left: 1em;
	}
	&::before{
		position: absolute;
		content: "◆";
		font-size: .8em;
		color: var(--color-accent-alt);
		left: -.2em;
		top: .3em;
		@include break(tablet){
			left: -1em;
		}
	}
	p{
		margin-bottom: 0;
	}
	&::marker{
		color: var(--color-accent-alt);
	}
}

@mixin ol-list-item {
    max-width: $content-width;
    margin-bottom: 0 !important;
    padding-bottom: 0.3em;
	position: relative;
	@include break-under(tablet){
		left: 1em;
		width: calc(100% - 1em);
	}
	p{
		margin-bottom: 0;
	}
	&::marker{
		font-weight: 500;
		color: var(--color-accent-alt);
	}
}
