:root {
	--color-f: #ffffff;
	--color-fg-in: #2c2c2c;
	--color-accent-7: rgb(154, 243, 255);
	--color-accent: rgb(154, 243, 255);
	--color-accent-al: rgb(255, 170, 170);
	--color-accent-alt-7: rgb(255, 170, 170, 0.7);
	--color-b: rgb(32, 32, 32);
	--color-bg-al: rgb(22, 22, 22);

	/* Layout */
	--block-spacing--shallow--static: 2rem;
	--border-radius: 4px;
	--gutter-padding: 4vw;
	--block-spacing--tiny: clamp(1rem, 3vw, 3rem);
	--block-spacing--shallow: clamp(2rem, 4vw, 4.5rem);
	--block-spacing: clamp(3.5rem, 6vw, 6.5rem);
	--block-spacing--deep: clamp(8rem, 12vw, 14rem);
	--block-spacing--text: clamp(1rem, 3vw, 3rem);
	--column-gap: clamp(2rem, 5vw, 5rem);
	--site-width: 1200px;
	--site-width-margins: calc(var(--site-width) + var(--gutter-padding) + var(--gutter-padding));
	--content-width: 900px;
	--extended-width: 1600px;
	--outline-focus: 2px solid var(--color-focus);

	/* Typography — font families */
	--font-editorial: 'degular-variable', sans-serif;
	--font-body: 'degular-variable', sans-serif;
	--font-std: 'degular-variable', sans-serif;
	--font-display: 'degular-variable', sans-serif;
	--font-blocky: 'degular-variable', sans-serif;
	--font-mono: 'degular-mono', sans-serif;

	/* Typography — misc */
	--opsz-regular: 10;
	/* Font size — name = rem × 100 */
	--font-size-125: 1.25rem;
	--font-size-140: 1.4rem;
	--font-size-150: 1.5rem;
	--font-size-165: 1.65rem;
	--font-size-180: 1.8rem;
	--font-size-210: 2.1rem;
	--font-size-220: 2.2rem;
	--font-size-240: 2.4rem;
	--font-size-260: 2.6rem;
	--font-size-280: 2.8rem;
	--font-size-320: 3.2rem;
	--font-size-340: 3.4rem;
	--font-size-380: 3.8rem;
	--font-size-400: 4rem;
	--font-size-480: 4.8rem;
	--font-size-650: 6.5rem;
	--font-size-800: 8rem;
	--font-size-1100: 11rem;
	--font-size-1250: 12.5rem;

  /* Space — name = rem × 100 */
	--space-100: 1rem;
	--space-200: 2rem;
	--space-300: 3rem;
	--space-350: 3.5rem;
	--space-450: 4.5rem;
	--space-500: 5rem;
	--space-650: 6.5rem;
	--space-800: 8rem;
	--space-1400: 14rem;
}